<main>
    <section>
        <article class="wrapper">
            <img src="assets/imagenes/Banner.png" alt="">
        </article>
        <img src="assets/imagenes/fotoperfil.png" id="fotoperfil" width="250px">
    </section>  
    <section>  
        <h1>Acerca de Mi</h1>
        <p id="subtitulo">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate laboriosam rem dolor animi quidem non corrupti itaque, <br> aut minus est ipsa, maxime nostrum adipisci architecto laudantium autem. Assumenda, et fuga?</p>
    </section>  
    <section>
        <img src="assets/imagenes/Experiencia.gif" alt="animacion" width="100%">
        <img src="assets/imagenes/globant.jpg" id="globant" width="100px">
        <div id="texto">
            <h3>Globant</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nemo temporibus atque veritatis possimus vel nostrum nisi hic? Quae, totam. <br> Optio eligendi ab aliquam quae obcaecati sunt aperiam id temporibus.</p>
        </div>    
    </section>  
    <section>
        <img src="assets/imagenes/Educacion.gif" alt="animacion" width="100%">
        <br>
        <img src="assets/imagenes/globant.jpg" id="globant" width="100px">
        <div id="texto">
            <h3>Globant</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nemo temporibus atque veritatis possimus vel nostrum nisi hic? Quae, totam. <br> Optio eligendi ab aliquam quae obcaecati sunt aperiam id temporibus.</p>
        </div> 
        <img src="assets/imagenes/globant.jpg" id="secundaria" width="100px">
        <div id="texto">
            <h3>Globant</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo nemo temporibus atque veritatis possimus vel nostrum nisi hic? Quae, totam. <br> Optio eligendi ab aliquam quae obcaecati sunt aperiam id temporibus.</p>
        </div> 

    </section> 
    <section>
        <img src="assets/imagenes/skills.gif" alt="skills" width="100%">
        <p id="habilidad">HTML</p>
        <div class="container">
        <div class="skills html">90%</div>
        </div>
        <p id="habilidad">CSS</p>
        <div class="container">
        <div class="skills css">80%</div>
        </div>
        <p id="habilidad">JavaScript</p>
        <div class="container">
        <div class="skills js">65%</div>
        </div>
        <p id="habilidad">PHP</p>
        <div class="container">
        <div class="skills php">60%</div>
        </div>
    </section>  
</main>
