<footer>
    <img src="assets/imagenes/proyectos.gif" alt="proyectos">
    <article class="tarjeta">
        <img src="assets/imagenes/hotel.png" alt="hotel">
            <h2>Reserva de Hotel</h2>
            <p>Es una app para controlar la reserva de hotel de los clientes
                Realizado con la base de datos SQL Server y C#, en Visual Studio</p>
    </article>
    <article class="tarjeta">
        <img src="assets/imagenes/biblioteca.png" alt="biblioteca">
            <h2>Biblioteca</h2>
            <p>Es un pequeña app para una blibioteca que permite ver los libros disponibles, alquilarlos y crearse una cuenta. 
                Realizado con JavaScript y Bootstrap</p>
    </article>
    <article class="tarjeta">
        <img src="assets/imagenes/portfolio.png" alt="portfolio">
            <h2>PortFolio Web</h2>
            <p>App de Portafolio Web. Realizado con la base de datos de MySQL, HTML, CSS, Angular en Visual Studio Code, Java y POO en Apache Netbeans</p>
    </article>
</footer>